.container {
    display: flex;
    flex-direction: column;
    max-width: 593px;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

.logo {
    display: flex;
    flex-direction: column;
    width: 20%;

    margin-left: 10%;
    margin-right: 5%;
    gap: 10px;
    align-items: center;
}


.base {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
    background-color: #003459;
}

.inputs {
    display: flex;
    width: 140%;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 16px;
    margin-right: 16px;
}

.loginbox {

    justify-content: center;
    border-radius: 20%;
    background: #FFFF;
    padding: 5%;
    width: 20%;
    border: 2px solid #000000;
    border-radius: 102px;

}