.container{
    display: flex;
    flex-direction: column;
    max-width: 423px;
    flex-grow: 1;
    width: 100%;
}

.base{
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
}