.container{
    display: flex;
    flex-direction: column;
    max-width: 423px;
    flex-grow: 1;
    width: 100%;
}

.base{
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
    background-color: #003459;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
}

.loginbox{
    border-radius: 30px;
    background: #FFFF;
    padding: 20px;
    width: 54.82vw;
    height: 50vh;
}